html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* 
p > a {
  font-size: inherit;
}
p > a:hover {
  text-transform: uppercase;
  font-style: inherit;
}
 */


.card-maintenance {
  background-color: lightgray;
  max-width: 100%;
  max-height: 80%;
  height: 80%;
}

.glass-effect {
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}


/* 
  CARDS
*/
.card {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  min-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
  background-color:lightskyblue;
  padding: 10px 0px;
}


/* 
  FORMULARIOS
*/
.form-group {
  padding-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
}