html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

summary {
  font-size: 1.4rem;
  color:lightsalmon;
}

a {
  color: lightcyan;
  font-size: 1.2rem;
  text-decoration: none;
}

a:hover {
  color: lightcyan;
  font-style: italic;
  transform: scale(1.1) translate(1.5rem);
}

p > a {
  font-size: inherit;
}
p > a:hover {
  text-transform: uppercase;
  font-style: inherit;
}

a i.bi,
summary i.bi {
  margin-right: 10px;
}


.card-maintenance {
  background-color: lightgray;
  max-width: 100%;
  max-height: 80%;
  height: 80%;
}

.glass-effect {
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

* {
  box-sizing: border-box;
}
