html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: cyan;
  text-decoration: none;
}

a:hover {
  color: lightcyan;
  font-style: italic;
}

a:hover.h4 {
  color: inherit;
  font-style: inherit;
}

* {
  box-sizing: border-box;
}
